$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-scondary-dark: #ff7730;

$color-gray-dark: #777;
$color-gray-dark-2: #999;

$color-gray-light-2: #f4f2f2;

$color-white: #fff;
$color-black: #000;

$color-error:#D8000C;
$color-success: #4F8A10;
