$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #FFACA1;
$color-secondary: #DB4747;
$color-secondary-dark: #BB2730;
$color-secondary-dark-2: #650000;



$color-gray-dark: #777;
$color-gray-dark-2: #999;

$color-gray-light-2: #f4f2f2;

$color-white: #fff;
$color-black: #000;

$color-error:#D8000C;
$color-success: #4F8A10;
