@import '../../helpers/stylesheets/Base.scss';

.navbar {
  height: 5rem;
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-light-2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  a {
    text-decoration: none;
    color: $color-secondary-dark;
    font-weight: 700;
  }

  &__logo {
    flex-grow: 1;
    font-size: 3rem;
    padding-left: 2rem;
  }
  
  &__search {
    flex-grow: 2;
  }
  
  &__links {
    flex-grow: 1;
  }
}
