@import '../../helpers/stylesheets/Base';

.details__character-edit {
  display: none;
  padding: 4rem;
  margin: 0 auto;
  width: 80%;
}

.form__edit-character {
  display: flex;
  
  button {
    margin: 0 auto;
  }
}